apiVersion: apps/v1
kind: Deployment
metadata:
  name: parladata-ajdovscina
  labels:
    app: parladata-ajdovscina
spec:
  replicas: 1
  selector:
    matchLabels:
      app: parladata-ajdovscina
  template:
    metadata:
      labels:
        app: parladata-ajdovscina
    spec:
      initContainers:
        - name: collectstatic
          image: parladata-ajdovscina
          command:
            - python
            - manage.py
            - collectstatic
            - --no-input
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: parladata_project.settings.k8s
          envFrom:
            - secretRef:
                name: parladata-credentials
            - secretRef:
                name: parladata-sentry
          resources:
            requests:
              memory: 200Mi
              cpu: 200m
            limits:
              memory: 200Mi
              cpu: 200m
        - name: migrate
          image: parladata-ajdovscina
          command:
            - python
            - manage.py
            - migrate
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: parladata_project.settings.k8s
          envFrom:
            - secretRef:
                name: parladata-credentials
            - secretRef:
                name: parladata-sentry
          resources:
            requests:
              memory: 200Mi
              cpu: 200m
            limits:
              memory: 200Mi
              cpu: 200m
      containers:
        - name: parladata-ajdovscina
          image: parladata-ajdovscina
          command:
            - gunicorn
            - parladata_project.wsgi:application
            - -b
            - 0.0.0.0:8000
            - --log-level
            - DEBUG
            - --workers
            - "1"
            - --threads
            - "3"
            - --timeout
            - "120"
          ports:
            - containerPort: 8000
          envFrom:
              - secretRef:
                  name: parladata-credentials
              - secretRef:
                  name: parladata-sentry
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: parladata_project.settings.k8s
            - name: LEMMATIZER_LANGUAGE_CODE
              value: sl
          resources:
            requests:
              memory: 400Mi
              cpu: 200m
            limits:
              memory: 400Mi
              cpu: 200m
