apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: parladata-ajdovscina
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    nginx.ingress.kubernetes.io/proxy-body-size: 10m
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - parladata-ajdovscina.lb.djnd.si
      secretName: parladata-ajdovscina-tls
  rules:
    - host: parladata-ajdovscina.lb.djnd.si
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: parladata-ajdovscina
                port:
                  number: 8000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: parladata-ajdovscina-nginx
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-origin: "*" # TODO
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: 10m
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - files.parladata-ajdovscina.lb.djnd.si
      secretName: parladata-ajdovscina-nginx-tls
  rules:
    - host: files.parladata-ajdovscina.lb.djnd.si
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: parladata-ajdovscina-nginx
                port:
                  number: 80
