apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter
resources:
  # - statefulset.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - pvc.yaml

  # uncomment cronjob to enable it
  #- cronjobs/task_runner_cronjob.yaml
images:
  - name: parladata
    newName: rg.fr-par.scw.cloud/djnd/parladata
    newTag: '599fdfecb3214afd8183d615fe83018892e643cc'
