apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter
resources:
  # - statefulset.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - cronjobs/task_runner_cronjob.yaml
images:
  - name: parladata
    newName: rg.fr-par.scw.cloud/djnd/parladata
    newTag: '36085a1b587e7113204ab5dffd134fa706ac0917'
