apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-lendava
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - pvc.yaml
  - solr.yaml

  # uncomment cronjob to enable it
  - cronjobs/task_runner_cronjob.yaml
images:
  - name: parladata-lendava
    newName: rg.fr-par.scw.cloud/djnd/parladata-lendava
    newTag: 'f9cacaf27986edcf944045b13cddbf66b059adae'
  - name: parlasolr-lendava
    newName: rg.fr-par.scw.cloud/djnd/parlasolr-lendava
    newTag: 'f9cacaf27986edcf944045b13cddbf66b059adae'
