apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ua
resources:
  # - statefulset.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

  # uncomment cronjob to enable it
  #- cronjobs/task_runner_cronjob.yaml
images:
  - name: parladata-ua
    newName: rg.fr-par.scw.cloud/djnd/parladata-ua
    newTag: '6f0392c55ace5bea104dce66c817268a2dcb284a'
