apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ajdovscina
resources:
  # - statefulset.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

  # uncomment cronjob to enable it
  #- cronjobs/task_runner_cronjob.yaml
images:
  - name: parladata-ajdovscina
    newName: rg.fr-par.scw.cloud/djnd/parladata-ajdovscina
    newTag: 'a376777bbb7f3f5e83f6b1e5b1003e2ce739debd'
