apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-bosna
resources:
  # - statefulset.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

  # uncomment cronjob to enable it
  - cronjobs/task_runner_cronjob.yaml
images:
  - name: parladata-bosna
    newName: rg.fr-par.scw.cloud/djnd/parladata-bosna
    newTag: '599fdfecb3214afd8183d615fe83018892e643cc'
