apiVersion: v1
kind: Secret
metadata:
  name: parladata-credentials
  labels:
    app.kubernetes.io/name: parladata-credentials
    app: parladata-credentials
stringData:
  APP_ENV: "production"
  DJANGO_SECRET_KEY: "r^&^$8c*g$6db1s!s7uk9c!v%*ps)_0)h$!f3m7$%(o4b+5qwk"
  DJANGO_DATABASE_HOST: "localhost"
  DJANGO_DATABASE_PORT: "5432"
  DJANGO_DATABASE_NAME: "parladata"
  DJANGO_DATABASE_USERNAME: "parlauser"
  DJANGO_DATABASE_PASSWORD: "parlapassword!"
  # pvc for static files
  DJANGO_STATIC_ROOT: "/pvc/static"
  DJANGO_STATIC_URL_BASE: "https://files.parladata.lb.djnd.si/static/"
  DJANGO_BASE_URL: ""
  PARLAMETER_SOLR_URL: "http://parlasolr.lb.djnd.si/solr/parlasearch"
  # EMAIL
  PARLAMETER_EMAIL_BACKEND: "django.core.mail.backends.smtp.EmailBackend"
  PARLAMETER_EMAIL_FILE_PATH: ""
  PARLAMETER_EMAIL_USE_TLS: ""
  PARLAMETER_EMAIL_USE_SSL: "True"
  PARLAMETER_EMAIL_HOST: ""
  PARLAMETER_EMAIL_PORT: ""
  PARLAMETER_SMTP_USER: ""
  PARLAMETER_SMTP_PASSWORD: ""
  PARLAMETER_FROM_EMAIL: ""
  # S3 storage for media files
  PARLAMETER_ENABLE_S3: "yes"
  PARLAMETER_AWS_ACCESS_KEY_ID: ""
  PARLAMETER_AWS_SECRET_ACCESS_KEY: ""
  PARLAMETER_AWS_STORAGE_BUCKET_NAME: "parlameter"
  PARLAMETER_AWS_LOCATION: "example"
  # memcached
  PARLAMETER_ENABLE_MEMCACHED: ""
  PARLAMETER_MEMCACHED_LOCATION: "localhost:11211"
  PARLAMETER_MEMCACHED_KEY_PREFIX: "parladata"
  PARLAMETER_MEMCACHED_USERNAME: ""
  PARLAMETER_MEMCACHED_PASSWORD: ""
  # event registry
  EVENTREGISTRY_API_KEY: ""
  # reCAPTCHA
  # crete new page and secret key
  # https://www.google.com/recaptcha/admin/create
  DRF_RECAPTCHA_SECRET_KEY: ""
  DRF_RECAPTCHA_DOMAIN = "www.google.com"
# generate your secret key with
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
