Django
django-autoslug
psycopg2-binary
djangorestframework
django-filter
gunicorn
django-taggit
django-oauth-toolkit
django-extensions
ipython
raven
regex
requests
django-cors-headers
django-taggit-serializer
django-model-utils
django-tinymce
Lemmagen
nltk
slugify
django-storages
Pillow
pytest
drf-spectacular
