Django==3.2.12
django-autoslug
psycopg2-binary==2.9.9
djangorestframework
django-filter
gunicorn
django-taggit==1.5.1
django-oauth-toolkit
django-extensions
ipython
raven
regex
requests
django-cors-headers
django-taggit-serializer
django-model-utils
django-tinymce
nltk
slugify
Pillow
pytest
pytest-django
pytest-cov
drf-spectacular
pytest-xdist
python-memcached
django-debug-toolbar
boto3
django-storages
pylibmc==1.6.1
martor
django-colorfield
django-admin-sortable2
pyicu
sentry-sdk[django]
eventregistry
tablib
django-import-export==3.3.7
djangorestframework-csv
drf-recaptcha
xmltodict==0.12.0

# tagger/lemmatizer
scikit-learn==1.1.3
python-crfsuite
marisa-trie
git+https://github.com/Desklop/Uk_Stemmer
