{% extends "admin/change_form.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href=" {% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/nav_sidebar.css' %}">
    <script src="{% static 'admin/js/nav_sidebar.js' %}" defer=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'static/admin/css/forms.css' %}">
    <link href=" {% static 'admin/css/vendor/select2/select2.css' %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static 'admin/css/autocomplete.css' %}" type="text/css" media="screen" rel="stylesheet">
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script src="{% static 'admin/js/autocomplete.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'admin/js/actions.js' %}"></script>
    <script src="{% static 'admin/js/urlify.js' %}"></script>
    <script src="{% static 'admin/js/prepopulate.js' %}"></script>
    <script src=" {% static 'admin/js/vendor/xregexp/xregexp.js' %}"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
    <meta name="robots" content="NONE,NOARCHIVE">
    <style>
        .inner{
            margin: auto;
            width: 40%;
            padding: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="content-main">
        <div class="inner">
            <h3>{{ info }}</h3>
            {% if ballots %}
                People for:<br>
                <ol>
                    {% for person in ballots.people_for %}
                    <li>{{ person.name }}</li>
                    {% endfor %}
                </ol>
                People against:<br>
                <ol>
                    {% for person in ballots.people_against %}
                    <li>{{ person.name }}</li>
                    {% endfor %}
                </ol>
                People abstain:<br>
                <ol>
                    {% for person in ballots.people_abstain %}
                    <li>{{ person.name }}</li>
                    {% endfor %}
                </ol>
                People absent:<br>
                <ol>
                    {% for person in ballots.people_absent %}
                    <li>{{ person.name }}</li>
                    {% endfor %}
                </ol>
                {% if ballots.duplicated %}
                    <div style="color:red;">
                        Duplicated:<br>
                        {% for person in ballots.duplicated %}
                            <li>{{ person.name }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
                Total ballots: {{ ballots.sum }}<br>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.confirmed }}
                    {% if confirm %}
                        <div style="display: none;">
                            {{ form.people_for }}</br>
                            {{ form.people_against }}</br>
                            {{ form.people_abstain }}</br>
                            {{ form.people_absent }}</br>
                        </div>
                        <input type="submit" value="Confirm adding">
                    {% else %}
                        <h3>Fix data and submit:</h3><br>
                        People for: {{ form.people_for }}</br>
                        People against: {{ form.people_against }}</br>
                        People abstains: {{ form.people_abstain }}</br>
                        People absent: {{ form.people_absent }}</br>
                        <input type="submit" value="Submit">
                    {% endif %}
                </form>
            {% else %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.confirmed }}
                    People for: {{ form.people_for }}</br>
                    People against: {{ form.people_against }}</br>
                    People abstains: {{ form.people_abstain }}</br>
                    People absent: {{ form.people_absent }}</br>
                    <input type="submit" value="Submit">
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
