{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href=" {% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/nav_sidebar.css' %}">
    <script src="{% static 'admin/js/nav_sidebar.js' %}" defer=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'static/admin/css/forms.css' %}">
    <link href=" {% static 'admin/css/vendor/select2/select2.css' %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static 'admin/css/autocomplete.css' %}" type="text/css" media="screen" rel="stylesheet">
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script src="{% static 'admin/js/autocomplete.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'admin/js/actions.js' %}"></script>
    <script src="{% static 'admin/js/urlify.js' %}"></script>
    <script src="{% static 'admin/js/prepopulate.js' %}"></script>
    <script src=" {% static 'admin/js/vendor/xregexp/xregexp.js' %}"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
    <meta name="robots" content="NONE,NOARCHIVE">
    <style>
        .inner{
            margin: auto;
            width: 40%;
            padding: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="content-main">
        <div class="inner">
            <h3>{{ info }}</h3>
            {% if statistics %}
                Merge organization statistic:</br></br>
                Original organization: </br>
                <hr>
                {{ statistics.real_organization.name }}</br>
                Authored questions: {{ statistics.real_organization.authored_questions }}</br>
                Received questions: {{ statistics.real_organization.received_questions }}</br>
                <hr></br>
                Fake organizations: </br><hr>

                {% for fake_org in statistics.fake_organizations %}
                    {{ fake_org.name }}</br>
                    Authored questions: {{ fake_org.authored_questions }}</br>
                    Received questions: {{ fake_org.received_questions }}</br>
                    <hr>
                {% endfor %}

                <form action="/v3/merge-organizations/" method="post">
                    {% csrf_token %}
                    {{ form.confirmed }}
                    <div style="display: none;">
                        Real organization: {{ form.real_organization }}</br>
                        Fake organizations: {{ form.organizations }} </br>
                    </div>
                    <input type="submit" value="Confirm mearging">
                </form>
            {% elif form %}
                <form action="/v3/merge-organizations/" method="post">
                    {% csrf_token %}
                    {{ form.confirmed }}
                    Real organization: {{ form.real_organization }}</br>
                    Fake organizations: {{ form.organizations }}</br>
                    <input type="submit" value="Submit">
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
