{% extends "admin/change_form.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href=" {% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/nav_sidebar.css' %}">
    <script src="{% static 'admin/js/nav_sidebar.js' %}" defer=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'static/admin/css/forms.css' %}">
    <script src=" {% static '/admin/jsi18n/' %}"></script>
    <link href=" {% static 'admin/css/vendor/select2/select2.css' %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static 'admin/css/autocomplete.css' %}" type="text/css" media="screen" rel="stylesheet">
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script src="{% static 'admin/js/autocomplete.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'admin/js/actions.js' %}"></script>
    <script src="{% static 'admin/js/urlify.js' %}"></script>
    <script src="{% static 'admin/js/prepopulate.js' %}"></script>
    <script src=" {% static 'admin/js/vendor/xregexp/xregexp.js' %}"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
    <meta name="robots" content="NONE,NOARCHIVE">
    <style>
        .inner{
            margin: auto;
            width: 40%;
            padding: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="content-main">
        <div class="inner">
            <h3>{{ info }}</h3>
            {% if statistics %}
                Merge people statistic:</br></br>
                Original person: </br>
                <hr>
                {{ statistics.real_person.name }}</br>
                Speeches: {{ statistics.real_person.speeches }}</br>
                Balots: {{ statistics.real_person.ballots }}</br>
                Authored questions: {{ statistics.real_person.authored_questions }}</br>
                Received questions: {{ statistics.real_person.received_questions }}</br>
                <hr></br>
                Fake people: </br><hr>

                {% for fake_person in statistics.fake_people %}
                    {{ fake_person.name }}</br>
                    Speeches: {{ fake_person.speeches }}</br>
                    Balots: {{ fake_person.ballots }}</br>
                    Authored questions: {{ fake_person.authored_questions }}</br>
                    Received questions: {{ fake_person.received_questions }}</br>
                    <hr>
                {% endfor %}

                <form action="/v3/merge-people/" method="post">
                    {% csrf_token %}
                    {{ form.confirmed }}
                    Real person: {{ form.real_person }}</br>
                    Fake people: {{ form.people }} </br>
                    <input type="submit" value="Confirm mearging">
                </form>
            {% elif form %}
                <form action="/v3/merge-people/" method="post">
                    {% csrf_token %}
                    {{ form.confirmed }}
                    Real person: {{ form.real_person }}</br>
                    Fake people: {{ form.people }}</br>
                    <input type="submit" value="Submit">
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
