apiVersion: v1
kind: Secret
metadata:
  name: parladata-credentials
  labels:
    app.kubernetes.io/name: parladata-credentials
    app: parladata-credentials
stringData:
  APP_ENV: "production"
  DB_NAME: "parladata"
  DB_USERNAME: "parlauser"
  DB_PASSWORD: "parlapassword!"
  DB_URL: "parladata-db-postgresql"
  DB_PORT: "5432"
  STATIC_URL_BASE: ""
  MEDIA_URL_BASE: ""
  FRONT_URL: ""

