<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<style type="text/css">
	.end{
		height: 10px;
		width: 100%;
		background-color: grey;
		margin-bottom: 30px;
	}
	</style>
	<script>
		$(document).ready(function() {
			$('.table').DataTable();
		});
	</script>

</head>
<body>
	<h2 id="countOfMembers">Prehajanje članov v organizaciji</h2>
	{% for org in orgs %}
		{{ org.name }}
		<table class="table">
			<thead>
				<tr><th>#</th>
					<th>start_time</th>
					<th>end_time</th>
					<th>Št. poslancev</th>
					<th>Dodani</th>
					<th>Zbrisani</th>
				</tr>
			</thead>
			<tbody>
				{% for fail in org.flow %}
					<tr>
						<th scope="row"></th>
						<td>{{fail.count.start_date}}</td>
						<td>{{fail.count.end_date}}</td>
						<td>{{fail.count.count}}</td>
						<td class="bg-success" width="33%">
							{% for person in fail.added %}
								<a href="https://data.parlameter.si/admin/parladata/membership/{{person.membership.id}}" style="color: white;">{{ person.name }},</a>
							{% endfor %}
						</td>
						<td class="bg-danger">
							{% for person in fail.removed %}
								<a href="https://data.parlameter.si/admin/parladata/membership/{{person.membership.id}}" style="color: white;">{{ person.name }},</a>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}

					<tr>
						<th scope="row"></th>
						<td class="bg-warning" colspan="5">
							{% for person in org.allMps %}
								<a href="https://data.parlameter.si/admin/parladata/membership/{{person.membership.id}}" style="color: white;">{{ person.name }},</a>
							{% endfor %}
						</td>
					</tr>
			</tbody>
		</table>
		<div class="end"></div>
	{% endfor %}
</body>
</html>
