name: Test parladata

on:
  push:
    branches:
      - dev
      - tests
  pull_request:
    branches:
      - dev

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      -
        name: Check out the repo
        uses: actions/checkout@v2
      -
        name: Unzip models
        run: unzip -o tagger/model.zip -d tagger/
      -
        name: Set up PostgreSQL
        uses: harmon758/postgresql-action@v1
        with:
          postgresql version: 'latest'
          postgresql db: 'parladata'
          postgresql user: postgres
          postgresql password: postgres
      - 
        name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - 
        name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - 
        name: Test with pytest
        env:
          DJANGO_SETTINGS_MODULE: parladata_project.settings.k8s
        run: |
          pytest -n 4
